html, body {  
    height: 100%;
}

body {
    background-color: #292b2c;
}
/* navbar */
.navbar {
    background-color: black;
}
.navbar-brand, .nav-link {
    color: white;
}
.navbar-brand:hover, .nav-link:hover {
    color: grey;
}


body > .d-sm-flex {
    padding: 0px;
}

/* home page cards */
.card {
    margin-bottom: 15px;
    background-color: black;
    color: white;
}

/* styles for main content */
.main-content {
    margin-top: 200px;
    background-color: black;
    padding: 20px;
    width: 40%;
    color: white;
}

/* add bottom border to headings */
h2 {
    border-bottom: 1px solid white;
}

/* styles for contents of About modal */
#modalContent {
    background-color: #292b2c;
    color: white;
}
#modalCloseBtn {
    color: white;
}

/* styles for eye icon in the password input box */
.container i {
    margin-left: -30px;
    color: black;
    cursor: pointer;
}

/* media queries */
@media screen and (max-width: 575px) {
    .card {
        margin: 5px 10px;
    }

    .d-sm-flex {
        margin-top: 75px;
    }

    .main-content {
        width: 80%;
    }
}

@media screen and (min-width:576px) {
    .card {
        width: 45%;
        padding: 10px;
    }

    .d-sm-flex {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .main-content {
        width: 80%;
    }
}
@media screen and (min-width:768px) {
    .card {
        width: 31%;
        padding: 10px;
    }

    .d-sm-flex {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .main-content {
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .card {
        margin: 15px;
    }

    .main-content {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        margin: 15px;
    }
}