{% extends 'layout.html' %}
{% block content %}
<div class="container d-sm-flex flex-wrap justify-content-between align-items-stretch">   
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('merge_pdf') }}" class="card-link text-danger ">Merge PDFs</a></h5>
            <p class="card-text">Click to merge two or more pdf files. Can merge upto 10 pdf files.</p>
        </div>
    </div>
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('split_pdf') }}" class="card-link text-danger">Split PDF</a></h5>
            <p class="card-text">Click to extract pages (split) from a pdf file based on page number.</p>
        </div>
    </div>
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('remove_pages') }}" class="card-link text-danger">Remove Pages</a></h5>
            <p class="card-text">Click to remove specified pages from a pdf file.</p>
        </div>
    </div>
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('rotate_pdf') }}" class="card-link text-danger">Rotate PDF</a></h5>
            <p class="card-text">Click to rotate pdf file to a desired degree.</p>
        </div>
    </div>
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('watermark_pdf') }}" class="card-link text-danger">Add Watermark</a></h5>
            <p class="card-text">Click to add a watermark to your pdf file</p>
        </div>
    </div>
    <div class="card" >
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for('encrypt_pdf') }}" class="card-link text-danger">Encrypt PDF</a></h5>
            <p class="card-text">Click to encrypt pdf file using a password</p>
        </div>
    </div>
    

</div>
{% endblock %}