{% extends 'layout.html' %}
{% block content %}
<div class="container main-content">
    <h2 class="pb-2 text-danger">Split PDF</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group mt-4">
            <input type="file" name="file" accept=".pdf" required>
        </div>

        {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="form-group">
            <label for="">Enter page range(s) to be extracted</label>
            <p class="text-muted">(E.g.: 1-5,6,7-8,9)</p>
            <input type="text" name="range" id="">
        </div>
        
        <button type="submit" class="btn btn-danger">Split?</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
    </form>
</div>
{% endblock %}